<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/APP_NAME"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAlbum2026">

        <activity
            android:name=".presenter.ui.dashboard.container.view.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.dashboard.missing.view.CardsMissingActivity"
            android:exported="false"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.dashboard.obtained.view.CardsObtainedActivity"
            android:exported="false"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.welcome.view.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.splash.view.SplashActivity"
            android:exported="true"
            android:theme="@style/Splash.Theme.Starting"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>