<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".base.App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/APP_NAME"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAlbum2026"
        tools:ignore="DataExtractionRules">

        <activity
            android:name=".presenter.ui.dashboard.container.view.DashboardContainerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.dashboard.qr.scan_qr.view.ScanQrActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.dashboard.qr.show_qr.view.ShowQrActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.dashboard.search.repeated.view.CardsRepeatedActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.dashboard.search.cards.view.CardsActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.dashboard.search.countries.view.CountryListActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.dashboard.search.missing.view.CardsMissingActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.dashboard.search.obtained.view.CardsObtainedActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.welcome.view.WelcomeActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAlbum2026"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presenter.ui.splash.view.SplashActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splash.Theme.Starting"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_app_id" />
    </application>

</manifest>